/*------ COLOR SCHEME ------*/
a:focus,
a:hover {
    color: #111111;
}

.theme-bg,
.separate-bg.s-theme:after,
.style-box .process-step,
.border-style1:hover,
.cd-horizontal-timeline .events a.selected::after,
.no-touch .cd-horizontal-timeline .events a:hover::after,
.cd-horizontal-timeline .filling-line,
#back-to-top,
.list-style-1 .list-group-submenu a,
.list-style-1 a:hover,
.message-item:before,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.tags-widget li a,
.timeline::before {
    background: #111111;
}

.text-color,
.text-color,
.text-color h1,
.text-color h2,
.text-color h3,
.text-color h4,
.text-color h5,
.text-color h6,
.text-color p,
.text-color a,
.text-color,
h1.text-color,
h2.text-color,
h3.text-color,
h4.text-color,
h5.text-color,
h6.text-color,
p.text-color,
a.text-color,
.footer.dark-bg a:hover,
.recent-item:hover a .recent-title,
.breadcrumb>.active,
.page-header.default,
.play-video a:hover:before,
.header-transparent .toggle-close,
ul.check-list li:before,
.typo-darks,
.typo-darks a,
.typo-darks h1,
.typo-darks h2,
.typo-darks h3,
.typo-darks h4,
.typo-darks h5,
.typo-darks h6,
.typo-darks p,
.icon-box .fa,
.icon-box,
.zozo-social-share-icons li a,
.owl-carousel.dots-dark .owl-dots .owl-dot span,
.owl-theme .owl-nav>div {
    color: #fc9a09;
}

.a-active,
.light-style a.active,
.light-style a.hover,
.light-style a.focus {
    color: #1abc9c !important;
}

.separate-bg.s-semitheme:after {
    background-color: rgba(26, 188, 156, .6);
}

.direction-l .flag:before,
.direction-r .flag:before,
.cd-horizontal-timeline .events a.selected::after,
.cd-horizontal-timeline .events a.older-event::after,
.no-touch .cd-horizontal-timeline .events a:hover::after,
.no-touch .cd-timeline-navigation a:hover {
    border-color: #111111;
}

/* =================================================================== 
							HEADER
======================================================================*/

/* HEADER TOP */
.header-top-section.navbar,
.cart-toggle .cart-count {
    background: #111111;
}

.header-top-transparent .header-top-section .navbar-nav>li>a:hover,
.header-top-transparent .header-top-section .navbar-nav>li>a:focus,
.header-top-transparent .header-top-section .navbar-nav li:hover>a,
.header-top-transparent .header-top-section .navbar-nav li:focus>a,
.header-top-semi-light .header-top-section .navbar-nav>li>a:hover,
.header-top-semi-light .header-top-section .navbar-nav>li>a:focus,
.header-top-semi-light .header-top-section .navbar-nav li:hover>a,
.header-top-semi-light .header-top-section .navbar-nav li:focus>a,
.header-top-semi-dark .header-top-section .navbar-nav>li>a:hover,
.header-top-semi-dark .header-top-section .navbar-nav>li>a:focus,
.header-top-semi-dark .header-top-section .navbar-nav li:hover>a,
.header-top-semi-darkt .header-top-section .navbar-nav li:focus>a,
.header-top-light .header-top-section .navbar-nav>li>a:hover,
.header-top-light .header-top-section .navbar-nav>li>a:focus,
.header-top-light .header-top-section .navbar-nav li:hover>a,
.header-top-light .header-top-section .navbar-nav li:focus>a {
    color: #111111;
}

.navbar-default .navbar-nav.nav li:hover>a,
.navbar-default .navbar-nav li.active>a:hover,
.navbar-default .navbar-nav li.active>a:focus,
.navbar-default .navbar-nav li.active>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .nav .open>a,
.navbar-default .nav .open>a:focus,
.navbar-default .nav .open>a:hover,
.side-nav li>a:focus,
.side-nav li>a:hover,
.header-dropdown-dark .item-info a:hover,
.header-dropdown-dark .is-sticky .item-info a:hover,
.header-top-section.dark-bg .navbar-nav li>a:hover {
    color: #fc9a09;
    font-weight: 500;
}

/* =================================================================== 
							CONTENT
======================================================================*/
/* Page Title */
.bottom-line:after {
    background: #111111;
}

.bottom-line:after,
.side-line:before {
    border-color: #fa7f0e;
}


/* =================================================================== 
							BUTTONS
======================================================================*/
.btn-theme,
.btn-hv-theme.btn-outline:hover,
.btn-hv-theme.btn-outline:focus,
.btn-hv-theme.btn-outline:active,
.btn-hv-theme.btn-outline:active:focus,
.btn-hv-theme.btn-outline:active:hover,
.btn.btn-outline.btn-theme.btn-hv-fadein:hover,
.owl-carousel.dots-dark .owl-dots .owl-dot span {
    border-color: #111111;
    background: #111111;
}

.btn-theme.btn-outline {
    color: #111111;
}

.btn-theme.btn-hv-fadeout:hover,
.btn-theme.btn-outline {
    border-color: #111111;
}

.btn.btn-hv-theme:after,
.btn.btn-hv-theme.btn-outline:after {
    background: #111111;
}

.btn.btn-theme.btn-hvfill-right:hover,
.btn.btn-theme.btn-hvfill-left:hover,
.btn.btn-theme.btn-hvfill-top:hover,
.btn.btn-theme.btn-hvfill-bottom:hover,
.btn.btn-theme.btn-hvborder-right:hover,
.btn.btn-theme.btn-hvborder-left:hover,
.btn.btn-theme.btn-hvborder-center:hover {
    background: #111111;
}

.btn.btn-outline.btn-theme.btn-hvborder-right:hover,
.btn.btn-outline.btn-theme.btn-hvborder-left:hover,
.btn.btn-outline.btn-theme.btn-hvborder-center:hover {
    color: #1abc9c !important;
    border-color: #1abc9c !important;
}



/* OWL CAROUSEL */
.owl-carousel .owl-nav .owl-prev:hover:after,
.owl-carousel .owl-nav .owl-next:hover:after {
    color: #111111;
}

.owl-carousel.navigation-colored .owl-nav>div {
    background: #111111;
}

.owl-carousel.navigation-colored .owl-nav>div:hover {
    background: #545423;
}

/* DOTS COLORED */
.owl-carousel.dots-colored .owl-dots .owl-dot span {
    background: #111111;
}

.owl-carousel.dots-colored .owl-dots .owl-dot:hover span {
    background: rgba(26, 188, 156, .8);
}

.owl-carousel.dots-colored .owl-dots .owl-dot.active span {
    border-color: #111111;
}

/* Pagination */
.pagination>li>a,
.pagination>li>span {
    color: #111111;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    border-color: #111111;
    background: #111111;
}

/* =================================================================== 
							PORTFOLIO
======================================================================*/
.nav-tabs>li>a.active,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border-color: #111111;
    background: #111111;
}

.nav-tabs.arrow-style-bordered>li>a.active:before,
.nav-tabs.arrow-style-bordered>li.active>a:before {
    border-top-color: #111111;
}

.tabs-left .nav-tabs.arrow-style-bordered>li>a.active:before,
.tabs-left .nav-tabs.arrow-style-bordered>li.active>a:before {
    border-left-color: #111111;
}

.tabs-right .nav-tabs.arrow-style-bordered>li>a.active:before,
.tabs-right .nav-tabs.arrow-style-bordered>li.active>a:before {
    border-right-color: #111111;
}

.nav-tabs.bordered-style>li>a.active,
.nav-tabs.bordered-style>li>a.active:hover,
.nav-tabs.bordered-style>li>a.active:focus,
.nav-tabs.bordered-style>li.active>a:hover,
.nav-tabs.bordered-style>li.active>a:focus,
.nav-tabs.bordered-style>li.active>a {
    border-color: #111111;
}

.nav-tabs.bottom-line-style>li>a.active:after,
.nav-tabs.bottom-line-style>li.active>a:after {
    background: #111111;
}

.nav-tabs.bordered-style>li>a.active {
    border-color: #111111;
}

/* =================================================================== 
							ICONS
======================================================================*/
.icon-theme,
.icon-hvtheme:hover,
.hv-wrapper:hover .icon-hvtheme,
.counter .counter-icon,
.number-counter:after,
    {
    color: #111111;
}

.icon-theme-bg,
.icon-hvtheme-bg:hover,
.hv-wrapper:hover .icon-hvtheme-bg {
    background: #111111;
}

.icon-bordered-theme,
.icon-hvbordered-theme:hover,
.hv-wrapper:hover .icon-hvbordered-theme {
    border-color: #111111;
}

/* =================================================================== 
							ACCORDION
======================================================================*/
.accordion-bordered .panel-heading:after,
.accordion-bordered-top .panel-heading:after {
    background: #111111;
}

/* THEME OVERLAY */
.theme-overlay:after,
.theme-bg-opacity,
.theme-overlay,
.overlay-theme {
    background-color: rgba(26, 188, 156, .6);
}

.pattern-overlay.theme-overlay:after,
.theme-bg-lopacity {
    background-color: rgba(26, 188, 156, .3);
}

/* =================================================================== 
							FORM STYLES
======================================================================*/
.form-control:focus,
.form-theme .form-control {
    border-color: #111111;
}

.input-group-addon,
.input-group-addon:hover,
.input-group-addon:focus,
.input-group-btn .btn-default,
.input-group-btn .btn-default:hover,
.input-group-btn .btn-default:focus {
    border-color: #111111;
    background: #111111;
}

/* Footer */
.footer-top-border5 {
    border-color: #111111;
}