<!--footer start-->
<footer class="footer">
    <div class="footer__wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer__info">
                        <div class="footer__info--logo">
                            <img src="images/footer-logo.png" alt="image">
                        </div>
                        <div class="footer__info--content">
                            <p class="paragraph dark"> is an app that helps you
                                organize yourself on the daily basis
                                using systematic algorithms to
                                achieve success.</p>
                            <div class="social">
                                <ul>
                                    <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="footer__content-wrapper">
                        <div class="footer__list">
                            <ul>
                                <li>Explore</li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">How It Works</a></li>
                            </ul>
                        </div>
                        <div class="footer__list">
                            <ul>
                                <li>Help</li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                        <div class="download-buttons">
                            <h5>Download</h5>
                            <a href="#" class="google-play">
                                <i class="fab fa-google-play"></i>
                                <div class="button-content">
                                    <h6>GET IT ON <span>Google Play</span></h6>
                                </div>
                            </a>
                            <a href="#" class="apple-store">
                                <i class="fab fa-apple"></i>
                                <div class="button-content">
                                    <h6>GET IT ON <span>Apple Store</span></h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer__copy">
                    <h6>&copy; GFXPARTNER</h6>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
</script>
<script>
    $(window).on('load', function () {
        $("body").addClass("loaded");
    });
</script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>